# 서울도서관 소장목록 호출

In [3]:
import pandas as pd
import requests
import json

In [ ]:
url = 'https://www.nl.go.kr/seoji/SearchApi.do?cert_key=864b7277715751215bbe984d2d8c0194ffd1f52b6e277956db02a0351af74b4d&result_style=json&page_no=1&page_size=10&start_publish_date=20240101&end_publish_date=20240131'
api = requests.get(url)
api

In [4]:
df = pd.read_csv('서울도서관 소장목록.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_13488\1153812630.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('서울도서관 소장목록.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553833 entries, 0 to 553832
Data columns (total 34 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   TITLE             553833 non-null  object
 1   BIB_TYPE_NAME     95169 non-null   object
 2   AUTHOR            553691 non-null  object
 3   CTRLNO            553833 non-null  int64
 4   PUBLER            553694 non-null  object
 5   NBOOK_YN          553833 non-null  object
 6   CRITYN            553833 non-null  object
 7   VODYN             553833 non-null  object
 8   OLDYN             553833 non-null  object
 9   ONLNYN            553833 non-null  object
 10  ABSYN             553833 non-null  object
 11  STRUCT_YN         553833 non-null  object
 12  OLD_INTRCN_YN     553833 non-null  object
 13  URLYN             553833 non-null  object
 14  CALL_NO           553557 non-null  object
 15  CLASS_NO          553556 non-null  object
 16  PUBLER_YEAR       553816 non-null  object
 17  AUTHOR_NO         552805 non-null  object
 18  LANG              553833 non-null  object
 19  LANG_NAME         540485 non-null  object
 20  CONTRY            553833 non-null  object
 21  CONTRY_NAME       500769 non-null  object
 22  EDITON            223195 non-null  object
 23  PAGE              553299 non-null  object
 24  ISBN              515804 non-null  object
 25  APPEND_INFO       206322 non-null  object
 26  LOCA              553833 non-null  object
 27  LOCA_NAME         553833 non-null  object
 28  CREATE_DATE       553833 non-null  int64
 29  SUB_LOCA          0 non-null       float64
 30  SUB_LOCA_NAME     0 non-null       float64
 31  LOAN_STATUS       0 non-null       float64
 32  LOAN_STATUS_NAME  0 non-null       float64
 33  BIB_TYPE          538637 non-null  object
dtypes: float64(4), int64(2), object(28)
memory usage: 143.7+ MB

# 필요없는 열 삭제

In [6]:
df = df.drop(['CTRLNO', 'NBOOK_YN','CRITYN', 'VODYN', 'OLDYN', 'ABSYN', 'OLD_INTRCN_YN', 'URLYN', 'CALL_NO', 'LANG_NAME', 'CONTRY_NAME', 'EDITON', 'LOCA', 'LOCA_NAME', 'CREATE_DATE', 'SUB_LOCA', 'SUB_LOCA_NAME', 'LOAN_STATUS', 'LOAN_STATUS_NAME', 'BIB_TYPE'], axis=1)

In [7]:
df = df.drop(['APPEND_INFO', 'CONTRY', 'AUTHOR_NO'], axis=1)

In [27]:
df.to_csv('서울도서관_1차정제.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553833 entries, 0 to 553832
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TITLE          553833 non-null  object
 1   BIB_TYPE_NAME  95169 non-null   object
 2   AUTHOR         553691 non-null  object
 3   PUBLER         553694 non-null  object
 4   ONLNYN         553833 non-null  object
 5   STRUCT_YN      553833 non-null  object
 6   CLASS_NO       553556 non-null  object
 7   PUBLER_YEAR    553816 non-null  object
 8   LANG           553833 non-null  object
 9   PAGE           553299 non-null  object
 10  ISBN           515804 non-null  object
dtypes: object(11)
memory usage: 46.5+ MB

# 이상한 데이터 삭제

In [8]:
df1 = pd.read_csv('서울도서관_1차정제.csv')

In [9]:
test = df1.copy()

In [10]:
df1[df1['TITLE'].str.contains('실태조사')]

,Unnamed: 0,TITLE,BIB_TYPE_NAME,AUTHOR,PUBLER,ONLNYN,STRUCT_YN,CLASS_NO,PUBLER_YEAR,LANG,PAGE,ISBN
5068,5068,서울시 민간분야 중대시민재해 시설 실태조사와 관리방안,서울시 간행물,이석민 연구책임,서울연구원,N,Y,307.0,2024,kor,"xiii, 138 p.",9791157009688
7009,7009,유럽연합의 사회통합 사례와 교훈 :동유럽국가의 지역정책 이행에 관한 실태조사 및 분석,NaN,이무성 [저],집문당,N,N,349.2,2010,kor,238 p.,9788930314701
34764,34764,CIS지역과 중국 동포사회 실태조사 및 한글학교 교육현황 조사 결과 보고서,NaN,재외동포재단 [편],재외동포재단,N,N,309.112,2009,,1 책,
34934,34934,척수장애인 실태조사 보고서,NaN,한국척수장애인협회 [편],한국척수장애인협회,N,N,338.31,2007,kor,1 책,
35009,35009,유럽·대양주·중남미 지역 재외동포사회 실태조사 결과보고서,NaN,재외동포재단 [편],재외동포재단,N,N,331.3701,2009,kor,"843, 28 p.",
...,...,...,...,...,...,...,...,...,...,...,...,...
549537,549537,중랑지하보차도 정밀안전진단 및 실태조사 용역 :중랑지하보차도 정밀안전진단보고서: B등급,기술용역보고서,서울특별시 성동도로사업소 [편],서울특별시 성동도로사업소,N,N,534.8,2025,kor,"356 p.,(일부접지)",NaN
549538,549538,"능산지하차도 등 2개소 도로시설물 정밀안전진단(점검) 및 실태조사 용역 .[2] ,...",기술용역보고서,서울특별시 성동도로사업소 [편],서울특별시 성동도로사업소,N,N,534.8,2025,kor,1 책,NaN
549539,549539,"능산지하차도 등 2개소 도로시설물 정밀안전진단(점검) 및 실태조사 용역 .[4] ,...",기술용역보고서,서울특별시 성동도로사업소 [편],서울특별시 성동도로사업소,N,N,534.8,2025,kor,1 책,NaN
549541,549541,뚝섬고가차도 등 7개소 정밀안전진단(점검) 및 실태조사용역 :교량 종합보고서 .1권...,기술용역보고서,서울특별시 성동도로사업소 [편],서울특별시 성동도로사업소,N,N,534.8,2025,kor,"64, 641 p.(일부접지)",NaN
549542,549542,뚝섬고가차도 등 7개소 정밀안전진단(점검) 및 실태조사용역 :교량 종합보고서 .3권...,기술용역보고서,서울특별시 성동도로사업소 [편],서울특별시 성동도로사업소,N,N,534.8,2025,kor,1 책,NaN

In [12]:
test['TITLE'].str.contains('실태조사').index

RangeIndex(start=0, stop=553833, step=1)

In [ ]:
test.drop(test[test['TITLE'].str.contains('실태조사')], axis=0)

In [14]:
test.drop(test[test['TITLE'].str.contains('실태조사', na=False)].index, inplace=True)

In [15]:
test[test['TITLE'].str.contains('실태조사')]

Empty DataFrame
Columns: [Unnamed: 0, TITLE, BIB_TYPE_NAME, AUTHOR, PUBLER, ONLNYN, STRUCT_YN, CLASS_NO, PUBLER_YEAR, LANG, PAGE, ISBN]
Index: []

In [ ]:
test.to_csv('서울도서관_2차정제.csv', index=False)

# 서울도서관_2차정제.csv 부터 로드해서 진행
    - PUBLER 정규화 / 알에이치코리아(RHK)
    - AUTHOR 정규화(), [], 지음, 엮음, 글.그림, 편저
    - 누락값 확인
    - 중복값 확인

In [16]:
test = pd.read_csv('서울도서관_9차정제.csv')

In [17]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424643 entries, 0 to 424642
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   TITLE                424643 non-null  object
 1   AUTHOR               424643 non-null  object
 2   PUBLER               424540 non-null  object
 3   ONLNYN               424643 non-null  object
 4   STRUCT_YN            424643 non-null  object
 5   CLASS_NO             424643 non-null  object
 6   PUBLER_YEAR          424643 non-null  object
 7   LANG                 424643 non-null  object
 8   PAGE                 419745 non-null  float64
 9   ISBN                 424643 non-null  object
 10  CLASS_NO_NORMALIZED  424643 non-null  int64
 11  AUTHOR_normalized    421963 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 38.9+ MB

In [18]:
test['PUBLER'].value_counts()[100:120]

PUBLER
미래의창                433
마음산책                432
한스미디어               429
위키북스                421
길벗어린이               406
한국직업능력개발원           404
경문사                 402
밥북                  399
Penguin Books       397
안그라픽스               394
북코리아                392
영진닷컴                385
Simon & Schuster    384
알에이치코리아(RHK)        381
인물과사상사              380
學古房                 379
과학기술정책연구원           379
한빛비즈                377
청어                  375
열림원                 372
Name: count, dtype: int64

In [20]:
test[test['PUBLER'].str.contains('알에이치코리아', na=False)]

,TITLE,AUTHOR,PUBLER,ONLNYN,STRUCT_YN,CLASS_NO,PUBLER_YEAR,LANG,PAGE,ISBN,CLASS_NO_NORMALIZED,AUTHOR_normalized
4344,파리 100배 즐기기 :파리&근교 15개 도시,홍연주,알에이치코리아,N,N,지리,2012,kor,517.0,9788925546193,980,홍연주
5770,네버 노잉 :체비 스티븐스 장편 소설,체비 스티븐스 지음,알에이치코리아,N,N,영미문학,2014,kor,502.0,9788925553030,840,체비 스티븐스
5847,빌 브라이슨의 대단한 호주 여행기,빌 브라이슨 지음,알에이치코리아,N,N,지리,2012,kor,405.0,9788925545752,980,빌 브라이슨
9110,"무엇이 우리의 생각을 지배하는가 :현혹시키는 세상, 착각하는 대중",엘든 테일러 지음,알에이치코리아,N,N,심리학,2012,kor,283.0,9788925545639,180,엘든 테일러
10296,하나님과 함께하는 1년,리처드 포스터 지음,알에이치코리아,N,N,기독교,2012,kor,523.0,9788925545691,230,리처드 포스터
...,...,...,...,...,...,...,...,...,...,...,...,...
423563,깊은 몰입을 위한 필사책,황농문,알에이치코리아(RHK),N,N,총류,2025,kor,NaN,9788925573915,0,황농문
423617,마음 정렬 :나를 치유하고 관계를 회복시키는 태도에 관하여,사라 워터스 지음,RHK(알에이치코리아),N,N,심리학,2024,kor,322.0,9788925574707,180,사라 워터스
423870,그렇게 아버지가 된다,"고레에다 히로카즈, 사노 아키라",RHK(알에이치코리아),N,N,총류,2024,kor,NaN,9788925575490,0,"고레에다 히로카즈, 사노 아키라"
424374,병뚜껑만 한 행복을 줄게,은쨩,알에이치코리아,N,N,총류,2024,kor,NaN,9788925574196,0,은쨩
424637,본능 스위치 :고객의 무의식을 사로잡은 히트 상품의 비밀 86,하쿠호도 히트 습관 메이커스 지음,RHK(알에이치코리아),N,N,경제학,2024,kor,239.0,9788925574424,320,하쿠호도 히트 습관 메이커스

In [21]:
test[test['ISBN'] == test['PUBLER']]

Empty DataFrame
Columns: [TITLE, AUTHOR, PUBLER, ONLNYN, STRUCT_YN, CLASS_NO, PUBLER_YEAR, LANG, PAGE, ISBN, CLASS_NO_NORMALIZED, AUTHOR_normalized]
Index: []

In [22]:
test[test['PAGE'].isna()]

,TITLE,AUTHOR,PUBLER,ONLNYN,STRUCT_YN,CLASS_NO,PUBLER_YEAR,LANG,PAGE,ISBN,CLASS_NO_NORMALIZED,AUTHOR_normalized
1737,(2010) 도로교설계기준 :국토해양부 제정 .2010,한국도로교통협회 편,한국도로교통협회,N,N,"공학, 공업일반, 토목공학, 환경공학",2010,kor,NaN,8962951177,530,한국도로교통협회
2142,2011년 최신개정판 구조구급실무,음두호 [편]저,다인,N,N,"공학, 공업일반, 토목공학, 환경공학",2011,kor,NaN,9788963040592,530,음두호 [
4117,(가이드) 한국 100명산 :명산 1-100,안경호 지음,깊은솔,N,N,"오락, 운동",2010,kor,NaN,9788989917328,690,안경호
4617,"한옥, 오래 묵은 오늘",이동춘 지음,디자인하우스,N,N,사진예술,2010,kor,NaN,9788970415383,660,이동춘
5102,(최우수지방자치단체) 선진경영활동 사례집,한국능률협회 [편],한국능률협회,N,Y,행정학,1999,kor,NaN,8972771708,350,한국능률협회 [
...,...,...,...,...,...,...,...,...,...,...,...,...
424497,자기만의 집,전경린,다산책방,N,N,총류,2025,kor,NaN,9791130663227,0,전경린
424498,우주에 구멍을 내는 것은 슬픔만이 아니다,줄리애나 배곳,인플루엔셜,N,N,총류,2025,kor,NaN,9791168342729,0,줄리애나 배곳
424500,대전여지도 3. 유성구편,이용원,월간토마토,N,N,지리,2024,kor,NaN,9791191651249,980,이용원
424501,지중해 낙양 교토,정영석,맑은소리맑은나라,N,N,한국문학,2024,kor,NaN,9791193385074,810,정영석
424502,(엄마와 단둘이) 나주 여행,정서연,스타북스,N,N,지리,2024,kor,NaN,9791157957521,980,정서연

In [24]:
test[test['ISBN'].duplicated()]

Empty DataFrame
Columns: [TITLE, AUTHOR, PUBLER, ONLNYN, STRUCT_YN, CLASS_NO, PUBLER_YEAR, LANG, PAGE, ISBN, CLASS_NO_NORMALIZED, AUTHOR_normalized]
Index: []

In [25]:
test = test.drop_duplicates('ISBN')

In [26]:
test = test.dropna(subset=['PAGE'])

In [27]:
test.drop(test[test['ISBN'].str.contains('scribnerbo', na=False)].index, inplace=True)

In [28]:
test.drop(test[test['ISBN'] == test['PUBLER']].index, inplace=True)

In [29]:
test.drop(test[test['PAGE'].isna()].index, inplace=True)

In [30]:
for i in test[test['ISBN'].isna()].index :
    print(test.loc[i,'TITLE'].strip())

# 페이지 누락값 크롤링

In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
import time
from bs4 import BeautifulSoup
import json

In [70]:
options = webdriver.ChromeOptions() # 크롬 브라우저 셋팅 값

##
'''크롬 브라우저 동작방식 설정'''
# options.add_argument('--headless') # 활성화 시 크롬창 안 보임
options.add_argument('--start-maximized') # 브라우저 크기 최대
options.add_experimental_option('detach', True) # 프로그램 종료 시 창 유지
options.add_argument("--disable-blink-features=AutomationControlled") # 탐지 우회
# options.add_argument("user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.102 Safari/537.36")
##

driver = webdriver.Chrome(options=options)
url = 'https://product.kyobobook.co.kr/detail/S000001609019'
driver.get(url)

try:
        # 검색창 초기화 및 ISBN 입력
        search_box = driver.find_element(By.XPATH, value='//*[@id="searchKeyword"]')
        search_box.clear()
        search_box.send_keys(9788963040592)
        time.sleep(1)
        search_box.send_keys(Keys.ENTER)
        time.sleep(2)

        # 검색 결과 클릭
        book_img = driver.find_element(By.XPATH, value='//*[@id="shopData_list"]/ul/li/div[1]/div[1]/a/span/img')
        book_img.click()
        time.sleep(2)

        for _ in range(5):
            driver.find_element(By.TAG_NAME, value="body").send_keys(Keys.PAGE_DOWN)
            time.sleep(1)

        # BeautifulSoup로 페이지 수 크롤링
        html = driver.page_source
        soup = BeautifulSoup(html, 'html.parser')
        page = soup.find_all('tr')

        # 페이지 정보가 없으면 건너뜀
        if page:
            fd_page = page[2].text.split('\n')[2]
            test.loc[test['ISBN'] == i, 'PAGE'] = fd_page

        for _ in range(5):
            driver.find_element(By.TAG_NAME, value="body").send_keys(Keys.PAGE_UP)
            time.sleep(1)

except Exception as e:
        print(f"[예외 발생] ISBN {i} 처리 중 문제 발생: {e}")
        #continue  # 에러가 발생해도 다음 ISBN으로 넘어감

In [ ]:
options = webdriver.ChromeOptions()
options.add_argument('--start-maximized')
options.add_experimental_option('detach', True)
options.add_argument("--disable-blink-features=AutomationControlled")

driver = webdriver.Chrome(options=options)
url = 'https://product.kyobobook.co.kr/detail/S000001609019'
driver.get(url)

for i in test.loc[test['PAGE'].isna(), 'ISBN']:
    try:
            # 검색창 초기화 및 ISBN 입력
            search_box = driver.find_element(By.XPATH, value='//*[@id="searchKeyword"]')
            search_box.clear()
            search_box.send_keys(9788963040592)
            time.sleep(1)
            search_box.send_keys(Keys.ENTER)
            time.sleep(2)

            # 검색 결과 클릭
            book_img = driver.find_element(By.XPATH, value='//*[@id="shopData_list"]/ul/li/div[1]/div[1]/a/span/img')
            book_img.click()
            time.sleep(2)

            for _ in range(5):
                driver.find_element(By.TAG_NAME, value="body").send_keys(Keys.PAGE_DOWN)
                time.sleep(1)

            # BeautifulSoup로 페이지 수 크롤링
            html = driver.page_source
            soup = BeautifulSoup(html, 'html.parser')
            page = soup.find_all('tr')

            # 페이지 정보가 없으면 건너뜀
            if page:
                fd_page = page[2].text.split('\n')[2]
                test.loc[test['ISBN'] == i, 'PAGE'] = fd_page

            for _ in range(5):
                driver.find_element(By.TAG_NAME, value="body").send_keys(Keys.PAGE_UP)
                time.sleep(1)

    except Exception as e:
            print(f"[예외 발생] ISBN {i} 처리 중 문제 발생: {e}")
            #continue  # 에러가 발생해도 다음 ISBN으로 넘어감

# 중분류 데이터와 맵핑

In [37]:
with open('updated_kdc_classification.json', 'r', encoding='utf-8') as f:
  kdc = json.load(f)

In [ ]:
kdc1 = {}
for i in kdc :
    for j,k in kdc[i].items() :
        kdc1[j] = k

kdc1

In [96]:
kdc1 = {}
for i in kdc:
    for j, k in kdc[i].items():
        try:
            j_stripped = str(int(j))  # 예: "010" → 10 → "10"
            kdc1[j_stripped] = k
        except ValueError:
            pass

In [75]:
test.to_csv('서울도서관_11차정제.csv', index=False)

In [42]:
def normalize_class_no(x):
    try:
        num = int(float(str(x).split('.')[0]))  # 소수점 제거 후 정수 변환
        if num >= 100:  # 세 자릿수
            return (num // 10) * 10
        elif num >= 10:  # 두 자릿수
            return (num // 10) * 10
        else:  # 한 자릿수
            return 0
    except:
        return None  # 변환 불가능한 경우 결측 처리

test1['CLASS_NO_NORMALIZED'] = test1['CLASS_NO'].apply(normalize_class_no)

In [50]:
test1['CLASS_NO_NORMALIZED'] = test1['CLASS_NO_NORMALIZED'].fillna(0)

In [101]:
test1['CLASS_NO_NORMALIZED'] = test1['CLASS_NO_NORMALIZED'].astype(str)

In [102]:
test1['CLASS_NO'] = test1['CLASS_NO_NORMALIZED'].map(kdc1)

In [103]:
test1[test1['CLASS_NO'].isna()]

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, TITLE, AUTHOR, PUBLER, ONLNYN, STRUCT_YN, CLASS_NO, PUBLER_YEAR, LANG, PAGE, ISBN, CLASS_NO_NORMALIZED]
Index: []

In [4]:
test['PAGE'] = test['PAGE'].str.extract('(\d+)').astype(float)

In [7]:
test.to_csv('서울도서관_8차정제.csv', index=False)

# 저자열 정규화

In [9]:
import pandas as pd
import re

# 파일 불러오기
df = pd.read_csv('서울도서관_8차정제.csv')

# 정규화 함수 정의
def normalize_author(author):
    if pd.isna(author):
        return None
    author = str(author).strip()

    # 패턴: 이름 + (지음|지은이|발행|편|엮음|옮김) 중 하나
    match = re.match(r'(.*?)(지음|지은이|발행|편|엮음|옮김)', author)
    if match:
        return match.group(1).strip()

    # 그 외에는 그대로 (예: 이름만 있는 경우)
    return author

# AUTHOR 열 정규화
df['AUTHOR_normalized'] = df['AUTHOR'].apply(normalize_author)

# 결과 미리보기
print(df[['AUTHOR', 'AUTHOR_normalized']].head())

         AUTHOR AUTHOR_normalized
0   하워드 S. 프리드먼       하워드 S. 프리드먼
1        나낙균 지음               나낙균
2        공지영 지음               공지영
3     정원그라피아 발행            정원그라피아
4  클라우스 오버바일 지음         클라우스 오버바일

In [15]:
df.to_csv('서울도서관_9차정제.csv', index=False)

In [4]:
import pandas as pd
test = pd.read_csv('비베스트셀러_랜덤.csv')