# 월간 데이터 연간데이터로 통합
- 베스트셀러 월별 200개씩

In [ ]:
import pandas as pd
import os

# ✅ 정확한 폴더 경로
folder_path = r"C:\Users\user\Desktop\연간 도서 데이터\yes24"

# ✅ .xlsx 확장자 파일만 추출 (대소문자 구분 없음)
excel_files = [f for f in os.listdir(folder_path) if f.lower().endswith('.xlsx')]
print("📂 찾은 파일:", excel_files)

df_list = []

for file in excel_files:
    file_path = os.path.join(folder_path, file)
    print(f"📄 읽는 중: {file_path}")
    
    try:
        df = pd.read_excel(file_path)
        df['출처파일명'] = file  # 어디서 왔는지 추적 가능하게 추가
        df_list.append(df)
    except Exception as e:
        print(f"❌ {file} 읽기 실패: {e}")

if df_list:
    combined_df = pd.concat(df_list, ignore_index=True)
    output_path = os.path.join(folder_path, 'yes24_통합_결과.xlsx')
    combined_df.to_excel(output_path, index=False)
    print(f"✅ 통합 완료! 저장 위치: {output_path}")
else:
    print("⚠️ 합칠 수 있는 파일이 없습니다.")

In [ ]:
import pandas as pd
import os

folder_path = r"C:\Users\user\Desktop\연간 도서 데이터\알라딘\월간 데이터"
file_list = [f for f in os.listdir(folder_path) if f.lower().endswith(('.xls', '.xlsx'))]

df_list = []

for file in file_list:
    file_path = os.path.join(folder_path, file)
    print(f"📄 처리 중: {file_path}")

    try:
        if file.lower().endswith('.xls'):
            try:
                # 1차 시도: 진짜 xls 형식이면
                df = pd.read_excel(file_path, engine="xlrd")
            except Exception:
                # 2차 시도: 사실상 CSV 파일일 경우
                df = pd.read_csv(file_path, encoding='utf-8', on_bad_lines='skip')
        else:
            df = pd.read_excel(file_path)

        df['출처파일명'] = file
        df_list.append(df)
    except Exception as e:
        print(f"❌ {file} 읽기 실패: {e}")

if df_list:
    combined_df = pd.concat(df_list, ignore_index=True)
    output_path = os.path.join(folder_path, 'aladin_통합_결과.xlsx')
    combined_df.to_excel(output_path, index=False)
    print(f"✅ 저장 완료: {output_path}")
else:
    print("⚠️ 합칠 수 있는 파일이 없습니다.")

In [ ]:
import pandas as pd
import os

# ✅ 파일들이 저장된 폴더 경로 (여기에 CSV들이 들어 있음)
folder_path = r"C:\Users\user\Desktop\연간 도서 데이터\영풍"

# ✅ .csv 확장자만 필터링
csv_files = [f for f in os.listdir(folder_path) if f.lower().endswith('.csv')]
print("📂 찾은 CSV 파일:", csv_files)

df_list = []

for file in csv_files:
    file_path = os.path.join(folder_path, file)
    print(f"📄 처리 중: {file_path}")
    
    try:
        # 인코딩이 utf-8이 아니면 cp949(한글)로도 시도할 수 있음
        try:
            df = pd.read_csv(file_path, encoding='utf-8', on_bad_lines='skip')
        except UnicodeDecodeError:
            df = pd.read_csv(file_path, encoding='cp949', on_bad_lines='skip')

        df['출처파일명'] = file  # 어떤 파일에서 왔는지 기록
        df_list.append(df)
    except Exception as e:
        print(f"❌ {file} 읽기 실패: {e}")

# ✅ 병합 & 저장
if df_list:
    combined_df = pd.concat(df_list, ignore_index=True)
    output_path = os.path.join(folder_path, 'ypbooks_통합_결과.xlsx')
    combined_df.to_excel(output_path, index=False)
    print(f"✅ 저장 완료: {output_path}")
else:
    print("⚠️ 합칠 수 있는 파일이 없습니다.")

# 정제

In [2]:
import pandas as pd

df = pd.read_excel('2020~2024_월간_통합_정제.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12165 entries, 0 to 12164
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   순위           12055 non-null  object
 1   ISBN         12055 non-null  object
 2   도서명          12055 non-null  object
 3   저자           12053 non-null  object
 4   출판사          12055 non-null  object
 5   조            7233 non-null   object
 6   Unnamed: 6   1015 non-null   object
 7   Unnamed: 7   1015 non-null   object
 8   Unnamed: 8   1015 non-null   object
 9   Unnamed: 9   1015 non-null   object
 10  Unnamed: 10  1015 non-null   object
 11  Unnamed: 11  1015 non-null   object
 12  Unnamed: 12  1015 non-null   object
 13  Unnamed: 13  1015 non-null   object
 14  Unnamed: 14  1015 non-null   object
 15  Unnamed: 15  1015 non-null   object
 16  Unnamed: 16  1015 non-null   object
 17  분야           4822 non-null   object
dtypes: object(18)
memory usage: 1.7+ MB

In [4]:
df.columns

Index(['순위', 'ISBN', '도서명', '저자', '출판사', '조', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', '분야'],
      dtype='object')

In [5]:
df.drop(['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'], axis=1, inplace=True)

In [6]:
df.drop(['도서명', '저자', '출판사', '조','분야'], axis=1, inplace=True)

In [7]:
df['ISBN'].dropna(inplace=True)

In [8]:
df[df['ISBN'] == 'ISBN']

       순위  ISBN
202    순위  ISBN
405    순위  ISBN
608    순위  ISBN
811    순위  ISBN
1014   순위  ISBN
1217   순위  ISBN
1420   순위  ISBN
1623   순위  ISBN
1826   순위  ISBN
2029   순위  ISBN
2232   순위  ISBN
2635   순위  ISBN
2838   순위  ISBN
3041   순위  ISBN
3244   순위  ISBN
3447   순위  ISBN
3650   순위  ISBN
3853   순위  ISBN
4056   순위  ISBN
4259   순위  ISBN
4462   순위  ISBN
4665   순위  ISBN
5068   순위  ISBN
5271   순위  ISBN
5474   순위  ISBN
5677   순위  ISBN
5880   순위  ISBN
6083   순위  ISBN
6286   순위  ISBN
6489   순위  ISBN
6692   순위  ISBN
6895   순위  ISBN
7098   순위  ISBN
7501   순위  ISBN
7704   순위  ISBN
7907   순위  ISBN
8110   순위  ISBN
8313   순위  ISBN
8516   순위  ISBN
8719   순위  ISBN
8922   순위  ISBN
9125   순위  ISBN
9328   순위  ISBN
9531   순위  ISBN
9934   순위  ISBN
10137  순위  ISBN
10340  순위  ISBN
10543  순위  ISBN
10746  순위  ISBN
10949  순위  ISBN
11152  순위  ISBN
11355  순위  ISBN
11558  순위  ISBN
11761  순위  ISBN
11964  순위  ISBN

In [9]:
asd = []
for i in range(0,len(df['ISBN'])) : 
    if df.loc[i,'ISBN'] == 'ISBN' :
        asd.append(i)

In [10]:
df.drop(asd, inplace=True)

In [11]:
df

        순위           ISBN
0        1  9791164134267
1        2  9791190305679
2        3  9788959896127
3        4  9791190313131
4        5  9791196797706
...    ...            ...
12160  196  9791194353058
12161  197  9791141077761
12162  198  9791160560589
12163  198  9791193866146
12164  200  9791194246442

[12110 rows x 2 columns]

In [ ]:
df.to_csv('교보데이터.csv', index=False)

# 베스트셀러등극횟수 맵핑

In [120]:
import pandas as pd

df = pd.read_csv('서울도서관_12차정제.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_2008\4238376689.py:3: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('서울도서관_12차정제.csv')

In [ ]:
df.info()

In [125]:
test = pd.read_csv('교보순위.csv')

In [128]:
test.drop(0, inplace=True)

In [130]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678 entries, 1 to 3678
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ISBN    3678 non-null   float64
 1   count   3678 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 57.6 KB

In [65]:
test.to_csv('알라딘_월간_최종.csv', index=False)

In [ ]:
df['ISBN'] = df['ISBN'].astype(str).str.strip()

# 숫자로 변환이 불가능한 ISBN만 필터링
invalid_isbn = df[~df['ISBN'].str.match(r'^\d{13}$')]

# 결과 확인
print(invalid_isbn[['TITLE', 'ISBN']])

In [119]:
# ISBN을 문자열로 정리
df['ISBN'] = df['ISBN'].astype(str).str.strip()

# 유효한 ISBN만 남기기 (13자리 숫자만 허용)
df = df[df['ISBN'].str.match(r'^\d{13}$')]

# 결과 저장 (선택)
df.to_csv("서울도서관_12차정제.csv", index=False)

In [ ]:
# ISBN 정제: .0 제거하고 문자열로 변환
test['ISBN'] = pd.to_numeric(test['ISBN'], errors='coerce')\
    .dropna().astype(int).astype(str)

In [134]:
df[df['kyobo_best'] > 1]

Empty DataFrame
Columns: [TITLE, AUTHOR, PUBLER, ONLNYN, STRUCT_YN, CLASS_NO, PUBLER_YEAR, LANG, PAGE, ISBN, CLASS_NO_NORMALIZED, AUTHOR_normalized, kyobo_best]
Index: []

In [ ]:
# 예를 들어, 데이터프레임 이름이 df라고 할 때
isbn_count_dict = test.set_index('ISBN')['count'].to_dict()

In [157]:
df['ISBN'] = df['ISBN'].astype(str)

In [158]:
df['kyobo_best'] = df['ISBN'].map(isbn_count_dict)

In [ ]:
df[df['kyobo_best'] > 1]

In [163]:
df['kyobo_best'] = df['kyobo_best'].fillna(0)

In [217]:
test = pd.read_csv('알라딘_월간_최종.csv')

In [219]:
test.drop(['순번/순위'], axis=1, inplace=True)

In [222]:
test['ISBN'].value_counts().to_csv('알라딘_순위.csv', index=True)

In [223]:
test = pd.read_csv('알라딘_순위.csv')

In [225]:
isbn_count_dict = test.set_index('ISBN')['count'].to_dict()

In [229]:
df['aladin_best'] = df['ISBN'].map(isbn_count_dict).fillna(0)

In [234]:
df.to_csv('서울도서관_14차정제.csv', index=False)

In [243]:
test = pd.read_csv('yes24_월간.csv')

In [244]:
test.drop('순위', axis=1, inplace=True)

In [246]:
test['ISBN'].value_counts().to_csv('yes24_순위.csv', index=True)

In [247]:
test = pd.read_csv('yes24_순위.csv')

In [ ]:
test['ISBN'] = pd.to_numeric(test['ISBN'], errors='coerce')\
    .dropna().astype(int).astype(str)

In [252]:
isbn_count_dict = test.set_index('ISBN')['count'].to_dict()

In [254]:
df['yes24_best'] = df['ISBN'].map(isbn_count_dict).fillna(0)

In [ ]:
df[df['yes24_best'] > 10]

In [258]:
test = pd.read_csv('영풍_월간_최종.csv')

In [260]:
test.drop('순번', axis=1, inplace=True)

In [263]:
test['ISBN'].value_counts().to_csv('영풍_순위.csv', index=True)

In [264]:
test = pd.read_csv('영풍_순위.csv')

In [266]:
test['ISBN'] = pd.to_numeric(test['ISBN'], errors='coerce')\
    .dropna().astype(int).astype(str)

In [267]:
isbn_count_dict = test.set_index('ISBN')['count'].to_dict()

In [268]:
df['yp_best'] = df['ISBN'].map(isbn_count_dict).fillna(0)

In [ ]:
df[df['yp_best'] > 30]

In [272]:
df.to_csv('서울도서관_15차정제.csv', index=False)

In [12]:
import pandas as pd
df = pd.read_csv('서울도서관_15차정제.csv')
df

C:\Users\user\AppData\Local\Temp\ipykernel_1900\3651819877.py:2: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('서울도서관_15차정제.csv')

,TITLE,AUTHOR,PUBLER,ONLNYN,STRUCT_YN,CLASS_NO,PUBLER_YEAR,LANG,PAGE,ISBN,CLASS_NO_NORMALIZED,AUTHOR_normalized,kyobo_best,aladin_best,yes24_best,yp_best
0,나는 몇 살까지 살까？,하워드 S. 프리드먼,쌤앤파커스,N,N,의학,2011,kor,368.0,9788965700104,510,하워드 S. 프리드먼,0.0,0.0,0.0,0.0
1,방송영상 저작권,나낙균 지음,인제대학교출판부,N,N,"도서학, 서지학",2010,kor,324.0,9788987054926,10,나낙균,0.0,0.0,0.0,0.0
2,빗방울처럼 나는 혼자였다,공지영 지음,황금나침반,N,N,한국문학,2006,kor,204.0,9788991949720,810,공지영,0.0,0.0,0.0,0.0
3,캐논 EOS 5D Mark2 완벽가이드,정원그라피아 발행,정원그라피아,N,N,사진예술,2011,kor,126.0,9788996077749,660,정원그라피아,0.0,0.0,0.0,0.0
4,소금의 역습 :내 몸 속 세포가 말라 죽고 있다 =(The) salt attack,클라우스 오버바일 지음,가디언,N,N,의학,2011,kor,215.0,9788994909110,510,클라우스 오버바일,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374425,블록체인과 암호화폐 혁명인가 반란인가 :가상화폐 시대의 철학 에세이 =Blockch...,김종호 지음,책과나무,N,N,경제학,2024,kor,438.0,9791167525369,320,김종호,0.0,0.0,0.0,0.0
374426,"(마케팅 비용 극적으로 줄이는) 10만 원 마케팅 :소상공인, 스타트업의 광고 발상...",김기현 지음,나비의 활주로,N,N,경제학,2024,kor,257.0,9791193110430,320,김기현,0.0,0.0,0.0,0.0
374427,솔버타이징 :'광고계의 다윗' 이승재의 마케팅 전략 노트 =Solvertising,이승재 지음,다산북스,N,N,경제학,2024,kor,287.0,9791130648101,320,이승재,0.0,0.0,0.0,0.0
374428,IT 트렌드 :새로 쓰는 AI의 미래와 세계 비즈니스 모델의 모든 것 .2025,김지현 지음,Creta(크레타),N,N,"사회학, 사회문제",2024,kor,323.0,9791192742342,330,김지현,0.0,0.0,0.0,0.0
374429,"(외우지 않고 통으로 이해하는) 통세계사 .1 ,인류 탄생에서 중세 시대까지",김상훈 지음,다산에듀: 다산북스,N,N,역사,2011,kor,455.0,9788963706382,900,김상훈,0.0,0.0,0.0,0.0